<div id="footer">
    <div class="content">
        <ul>
            <ul>
                {{ render(controller('JobBundle:Menu:index', {position: 'footer'})) }}
            </ul>

        </ul>
    </div>
</div>